
@{
    var products = ViewBag.Products as List<Product>;
    var categories = ViewBag.Categories as List<Category>;
    ViewData["Title"] = "Products";
    <style>
        .pointer {
            cursor: pointer;
        }
    </style>
}

<header>
    <nav class="navbar navbar-dark navbar-expand-lg bg-primary fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <!-- Categories -->
                    @if (categories != null)
                    {
                        @foreach (var category in categories)
                        {
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index" asp-route-name="@category.DisplayTitle">@category.DisplayTitle</a>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<h2>Product List</h2>
<div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Category Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                    <tr class="pointer" >
                        <td><img src="@product.CoverPath" height="50" /></td>
                        <td>@product.Title</td>
                        <td>@product.Price TL</td>
                        <td>@product.CategoryTitle</td>

                    </tr>
            }
        </tbody>
    </table>
</div>
